<%= form_for(issue, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :name, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :description, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_area :description, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :project_id, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.number_field :project_id, class: 'uk-input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
