<%= render partial: 'share/notice', locals: { notice: notice } %>

<div class="uk-clearfix">
  <% if current_user.admin? %>
    <div class="uk-float-right">
      <%= link_to '',
          new_issue_path,
          class: 'uk-icon-link', 'uk-icon': 'icon: plus; ratio: 2' %>
    </div>
  <% end %>
  <div class="uk-float-left">
    <h1>Issues</h1>
  </div>
</div>

<ul class="uk-list uk-list-divider">
  <% @issues.each do |issue| %>
    <li class="uk-card uk-card-default uk-card-body <%= issue.success %>">
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <%= issue.edit_link %>
        </div>
        <div class="uk-float-left">
          <%= link_to issue.compact_name, issue, class: 'uk-h3' %>
        </div>
      </div>
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <strong>ETA: </strong><%= issue.estimated_time %>
        </div>
        <div class="uk-float-left">
          <%= issue.description %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
