<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= link_to 'Add',
        new_issue_path,
        class: 'uk-icon-link', 'uk-icon': 'icon: plus' %>
  </div>
  <div class="uk-float-left">
    <h1>Issues</h1>
  </div>
</div>

<ul class="uk-list uk-list-divider">
  <% @issues.each do |issue| %>
    <li class="uk-card uk-card-default uk-card-body">
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <%= link_to 'Edit',
              edit_issue_path(issue),
              class: 'uk-icon-link', 'uk-icon': 'icon: pencil' %>
        </div>
        <div class="uk-float-left">
          <%= link_to "#{issue.name} (#{issue.project.name})" , issue, class: 'uk-h3' %>
        </div>
      </div>
      <div class="uk-width-1-1 uk-margin-remove">
        <%= issue.description %>
      </div>
    </li>
  <% end %>
</ul>
