<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= @issue.edit_link %>
    <%= @issue.destroy_link %>
  </div>
  <div class="uk-float-left">
    <h1><%= @issue.name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <p>
    <strong>Description:</strong>
    <%= @issue.description %>
  </p>
  <p>
    <strong>Estimated time:</strong>
    <%= @issue.estimated_time %>
  </p>
  <p>
    <strong>Project:</strong>
    <%= link_to @issue.project.name, @issue.project %>
  </p>
</div>
