<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= link_to 'Edit',
        edit_issue_path(@issue),
        class: 'uk-icon-link', 'uk-icon': 'icon: pencil' %>
    <%= link_to 'Destroy',
        @issue, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'uk-icon-link', 'uk-icon': 'icon: trash' %>
  </div>
  <div class="uk-float-left">
    <h1><%= @issue.name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <p>
    <strong>Description:</strong>
    <%= @issue.description %>
  </p>
  <p>
    <strong>Project:</strong>
    <%= link_to @issue.project.name, @issue.project %>
  </p>
</div>
