<h1 class="uk-text-center">Registration</h1>

<div class="uk-container uk-width-1-2">
  <%= form_for(@user, url: create_registration_path, class: 'uk-form-horizontal uk-margin-large') do |f| %>
    <% if @user.errors.any? %>
      <%= render partial: 'share/alert', locals:
          { error_count: @user.errors.count,
            messages: @user.errors.full_messages } %>
    <% end %>

    <div class="uk-margin field">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
        <%= f.text_field :name, placeholder: 'name', class: 'uk-input' %>
      </div>
    </div>

    <div class="uk-margin field">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
        <%= f.text_field :username, placeholder: 'username', class: 'uk-input' %>
      </div>
    </div>

    <div class="uk-margin field">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <%= f.password_field :password, placeholder: 'password', class: 'uk-input' %>
      </div>
    </div>

    <div class="uk-margin field">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <%= f.password_field :password_confirmation, placeholder: 'password again', class: 'uk-input' %>
      </div>
    </div>

    <div class="uk-margin field">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
        <%= f.text_field :email, placeholder: 'email', class: 'uk-input' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Register', class: 'uk-button uk-button-default uk-align-center' %>
    </div>
  <% end %>
</div>
