<%= form_for(user, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :name, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :username, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :username, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :password, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :password, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :email, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :email, class: 'uk-input' %>
    </div>
  </div>

  <%= user.edit_admin_tag(f) %>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
