<%= form_for(user, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if user.errors.any? %>
    <%= render alert,
          error_count: user.errors.count,
          messages: user.errors.full_messages %>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :name, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
        <%= f.text_field :name, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :username, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
        <%= f.text_field :username, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :password, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <%= f.password_field :password, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :password_confirmation, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <%= f.password_field :password_confirmation, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :email, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
        <%= f.text_field :email, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <%= user.edit_admin_tag(f) %>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
