<%= render partial: 'share/notice', locals: { notice: notice } %>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= @user.edit_link %>
    <%= @user.destroy_link %>
  </div>
  <div class="uk-float-left">
    <h1><%= @user.name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <%= @user.username_tag %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <%= @user.admin_tag %>
</div>
<%= @user.records_tag %>
<div class="uk-card uk-card-default uk-card-body uk-margin-top uk-padding-remove">
  <ul class="uk-list uk-list-divider">
    <% @user.record.each do |record| %>
      <li class="uk-padding-small">
        <div class="uk-clearfix uk-width-1-1">
          <div class="uk-float-right" uk-icon="clock">
            <%= record.time %>
          </div>
          <div class="uk-float-left">
            <%= link_to record.issue.compact_name, record.issue, class: 'uk-h3' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
