<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= @user.edit_link %>
    <%= @user.destroy_link %>
  </div>
  <div class="uk-float-left">
    <h1><%= @user.name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <%= @user.username_tag %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <%= @user.admin_tag %>
</div>
