<%= form_for(record, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :user_id, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :user_id, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :issue_id, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :issue_id, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :date, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.date_select :date, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :time, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.number_field :time, class: 'uk-input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
