<%= form_for(record, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if record.errors.any? %>
    <%= render partial: 'share/alert', locals:
        { error_count: record.errors.count,
          messages: record.errors.full_messages } %>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :user_id, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= record.user_select(f, @users) %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :issue_id, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <% options = options_from_collection_for_select(@issues, :id, :name, @record.issue_id) %>
      <%= f.select :issue_id,  options, {}, {class: 'uk-select'} %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :date, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.date_select :date, {}, {class: 'uk-select uk-width-1-4'} %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :time, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock"></span>
        <%= f.number_field :time, class: 'uk-input' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
