<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= link_to 'Add',
        new_record_path,
        class: 'uk-icon-link', 'uk-icon': 'icon: plus' %>
  </div>
  <div class="uk-float-left">
    <h1>Records</h1>
  </div>
</div>

<ul class="uk-list uk-list-divider">
  <% @records.each do |record| %>
    <li class="uk-card uk-card-default uk-card-body">
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <%= link_to 'Edit',
              edit_record_path(record),
              class: 'uk-icon-link', 'uk-icon': 'icon: pencil' %>
        </div>
        <div class="uk-float-left">
          <%= link_to "#{record.user.name} - #{record.issue.name}", record, class: 'uk-h3' %>
        </div>
      </div>
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <strong>When: </strong><%= record.date %>
        </div>
        <div class="uk-float-left">
         <strong>How much: </strong><%= record.time %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
