<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= link_to 'Edit',
        edit_record_path(@record),
        class: 'uk-icon-link', 'uk-icon': 'icon: pencil' %>
    <%= link_to 'Destroy',
        @record, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'uk-icon-link', 'uk-icon': 'icon: trash' %>
  </div>
  <div class="uk-float-left">
    <h1><%= "#{@record.user.name} - #{@record.issue.name}" %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <p>
    <strong>Date:</strong>
    <%= @record.date %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= @record.time %>
  </p>
  <p>
    <strong>Issue:</strong>
    <%= link_to @record.issue.name, @record.issue %>
  </p>
  <p>
    <strong>User:</strong>
    <%= link_to @record.user.name, @record.user %>
  </p>
</div>
