<%= render partial: 'share/notice', locals: { notice: notice } %>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= @record.edit_link %>
    <%= @record.destroy_link %>
  </div>
  <div class="uk-float-left">
    <h1><%= @record.compact_name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <p>
    <strong>Date:</strong>
    <%= @record.date %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= @record.time %>
  </p>
  <p>
    <strong>Issue:</strong>
    <%= link_to @record.issue.name, @record.issue %>
  </p>
  <p>
    <strong>User:</strong>
    <%= link_to @record.user.name, @record.user %>
  </p>
</div>
