<%= form_for(project, class: 'uk-form-horizontal uk-margin-large') do |f| %>
  <% if project.errors.any? %>
    <%= render partial: 'share/alert', locals:
        { error_count: project.errors.count,
          messages: project.errors.full_messages } %>
  <% end %>

  <div class="uk-margin field">
    <%= f.label :name, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin field">
    <%= f.label :description, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_area :description, class: 'uk-input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'uk-button uk-button-default' %>
  </div>
<% end %>
