<%= render partial: 'share/notice', locals: { notice: notice } %>

<div class="uk-clearfix">
  <% if current_user.admin? %>
    <div class="uk-float-right">
      <%= link_to 'Add',
          new_project_path,
          class: 'uk-icon-link', 'uk-icon': 'icon: plus' %>
    </div>
  <% end %>
  <div class="uk-float-left">
    <h1>Projects</h1>
  </div>
</div>

<ul class="uk-list uk-list-divider">
  <% @projects.each do |project| %>
    <li class="uk-card uk-card-default uk-card-body">
      <div class="uk-clearfix uk-width-1-1">
        <div class="uk-float-right">
          <%= project.edit_link %>
        </div>
        <div class="uk-float-left">
          <%= link_to project.name, project, class: 'uk-h3' %>
        </div>
      </div>
      <div class="uk-width-1-1 uk-margin-remove">
        <%= project.description %>
      </div>
      <div class="uk-width-1-1 uk-margin-top">
        <%= project.progress %>
      </div>
    </li>
  <% end %>
</ul>
