<p id="notice"><%= notice %></p>

<div class="uk-clearfix">
  <div class="uk-float-right">
    <%= @project.edit_link %>
    <%= @project.destroy_link %>
  </div>
  <div class="uk-float-left">
    <h1><%= @project.name %></h1>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>
</div>
