<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <%= link_to 'WorkHours', projects_path, class: 'uk-navbar-item uk-logo uk-margin-left' %>
    <ul class="uk-navbar-nav">
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Issues', issues_path %></li>
      <li><%= link_to 'Records', records_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-margin-right">
      <li><%= link_to 'Add record', new_record_path %></li>
      <li>
        <a href="#" uk-icon="chevron-down"><%= current_user.name %></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Edit', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
