<!DOCTYPE html>
<html>
  <head>
    <title>Workhours</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="uk-height-1-1">
    <%= render 'navbar' %>
    <div class="uk-container uk-padding-remove uk-margin-small-top" id="content-container">
      <%= yield %>
    </div>
  </body>
</html>
